<main class="pt-5 bg-color">
   <div class="container">
    <section class="row g-0">
      <article class="col-12 text-center">
        <h1>Clientes & Colaboraciones</h1>
        <p class="fs-5">Aquí hay una selección de clientes felices y hermosos proyectos.</p>
      </article>
      <article class="col-12">
        <div class="card text-bg-dark border-0 rounded-0">
          <%= image_tag("clients-1", class: "card-img", alt: "logo") %>
          <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
            <h5 class="card-title">Andy Pandharklar</h5>
            <p class="card-text">
             <small>CEO/Co-fundador, Commerce Ai</small>
              <br>
              <a class="text-success" data-bs-toggle="modal" data-bs-target="#cliente-1" href="#">Ver Proyecto</a> 
            </p>
            <p class="card-text">
              <blockquote class="d-none d-md-block">
                 No estábamos satisfechos con ninguna de nuestras opciones anteriores. Pero Bad Dog tuvo lo que teníamos en mente.
              </blockquote>
            </p>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="cliente-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Commerce Ai</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  Posicioné una nueva marca comercial (en línea) y diseñé un sitio web adaptado y hecho a medida.
                </p>
                <%= image_tag("work-layout-1", class: "img-fluid", alt: "Commerce Ai") %>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="col-12 col-sm-6 col-lg-4">
          <div class="card text-bg-dark border-0 rounded-0">
          <%= image_tag("clients-2", class: "card-img", alt: "logo") %>
          <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
            <h5 class="card-title">Zeb Couch</h5>
            <p class="card-text">
             <small>Dueño de Zeb Couch</small>
              <br>
               <a class="text-success" data-bs-toggle="modal" data-bs-target="#cliente-2" href="#">Ver Proyecto</a> 
            </p>
            <p class="card-text">
              <blockquote class="d-none d-md-block">
                 Trabajé con Bad Dog en varios proyectos y trabajaré con ellos siempre que pueda.
              </blockquote>
            </p>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="cliente-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Walkers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  He estado trabajando con Zeb en varios otros proyectos el ultimo año. Cuando se contactó conmigo para hablar sobre un proyecto que se desarrollaba en torno al diseño de una tienda web inmediatamente me interesé y me inspiré.
                </p>
                <%= image_tag("work-layout-2", class: "img-fluid", alt: "Commerce Ai") %>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="col-12 col-sm-6 col-lg-4">
        <div class="card text-bg-dark border-0 rounded-0">
          <%= image_tag("clients-3", class: "card-img", alt: "logo") %>
          <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
            <h5 class="card-title">Lori Knisely</h5>
            <p class="card-text">
             <small>subgerente de hey textile</small>
              <br>
              <a class="text-success"href="#">Ver Proyecto</a> 
            </p>
            <p class="card-text">
              <blockquote class="d-none d-md-block">
                 Bad Dog siempre lo consigue!
              </blockquote>
            </p>
          </div>
        </div>
      </article>
      <article class="col-12 col-sm-6 col-lg-4">
          <div class="card text-bg-dark border-0 rounded-0">
          <%= image_tag("clients-4", class: "card-img", alt: "logo") %>
          <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
            <h5 class="card-title">Tom Allan</h5>
            <p class="card-text">
             <small>Director Basis Network</small>
              <br>
              <a class="text-success"href="#">Ver Proyecto</a> 
            </p>
            <p class="card-text">
              <blockquote class="d-none d-md-block">
                 Definitivamente contrataremos los servicios de Bad Dog para proyectos futuros
              </blockquote>
            </p>
          </div>
        </div>
      </article>
      <article class="col-12 col-sm-6 col-lg-4">
        <div class="card text-bg-dark border-0 rounded-0">
          <%= image_tag("clients-5", class: "card-img", alt: "logo") %>
          <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
            <h5 class="card-title">Jin Choeh</h5>
            <p class="card-text">
             <small>Co-fundador Swingvy</small>
              <br>
              <a class="text-success"href="#">Ver Proyecto</a> 
            </p>
            <p class="card-text">
              <blockquote class="d-none d-md-block">
                 Bad Dog estuvo mas allá de nuestras expectativas.
              </blockquote>
            </p>
          </div>
        </div>
      </article>
      <article class="col-12 col-sm-6 col-lg-4">
        <div class="card text-bg-dark border-0 rounded-0">
          <%= image_tag("clients-6", class: "card-img", alt: "logo") %>
          <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
            <h5 class="card-title">Jennifer Blair</h5>
            <p class="card-text">
             <small>CEO de Lash SPA Studio</small>
              <br>
              <a class="text-success"href="#">Ver Proyecto</a> 
            </p>
            <p class="card-text">
              <blockquote class="d-none d-md-block">
                Hemos encontrado un socio perfecto para nuestras necesidades de diseño y marca.   
              </blockquote>
            </p>
          </div>
        </div>
      </article>
      <article class="col-12 col-sm-6 col-lg-4">
        <div class="card text-bg-dark border-0 rounded-0">
          <%= image_tag("clients-7", class: "card-img", alt: "logo") %>
          <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
            <h5 class="card-title">Sietse Kingma</h5>
            <p class="card-text">
             <small>Co-fundador BambuuVB</small>
              <br>
              <a class="text-success"href="#">Ver Proyecto</a> 
            </p>
            <p class="card-text">
              <blockquote class="d-none d-md-block">
                 Bad Dog crea sitios impresionantes, estrategias increibles y mucho más.
            </p>
          </div>
        </div>
      </article>
      <article class="col-12">
        <div class="card text-bg-dark border-0 rounded-0">
          <%= image_tag("clients-8", class: "card-img", alt: "logo") %>
          <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center bg-second-alpha-color d-flex flex-column justify-content-md-center">
            <h5 class="card-title">Sergi Magdalin</h5>
            <p class="card-text">
             <small>Co-fundador Webflow</small>
              <br>
              <a class="text-success"href="#">Ver Proyecto</a> 
            </p>
            <p class="card-text">
              <blockquote class="d-none d-md-block">
                 Bad Dog es una de las mejores empresas con las que eh trabajado.
              </blockquote>
            </p>
          </div>
        </div>
      </article>
    </section>

   </div>
</main>