<main class="py-5 bg-color">
    <div class="container ">
          <article class="col-12 text-center">
            <h1>Comencemos tu nuevo proyecto</h1>
            <p class="fs-5">Me encanta la colaboración mutua entre <b>profesional y cliente</b>, prefiero la frase:</p>
            <p class="fs-2"> <b>"Trabajo contigo"</b></p>
            <p class="fs-5">en vez de: Trabajo para ti</p>
            <p class="text-start">Me gusta tener contacto directo con el cliente, lo que permite una comunicación clara y actualizaciones periódicas del proyecto, haciendo todo lo posible para no causar demoras, intento definir las características y experiencias más adecuadas que briden la misma satisfacción.</p>
            <p class="text-start">Me parece importante ofrecer a mis clientes una comprensión clara de lo que pueden y deben esperar de mí. Si trabajamos juntos en su sitio web, el proceso será como se describe a continuación</p>
          </article>
        <section class="row align-items-lg-center">
          <article class="col-12 col-lg-6 text-lg-end">
            <h2>Paso 1</h2>
            <h3>Concepto y Presupuesto</h3>
            <p>Discutimos las primeras ideas durante una breve reunion en sitio, por correo electrónico o video llamada. Siguiendo las ideas iniciales te presentaré un presupuesto oficial para el proyecto</p>  
          </article>
          <article class="col-12 col-lg-6">
            <%= image_tag("workflow-step-1", class: "", alt: "paso 1") %>
          </article>
        </section>
        <section class="row align-items-lg-center">
          <article class="col-12 col-lg-6 order-lg-1">
            <h2>Paso 2</h2>
            <h3>Propuesta de Diseño</h3>
            <p>Una vez que se firme y/o acepte la cotización recibirás la primera factura (50% del monto acordado) después del pago iniciaré el proyecto. Estudiaré tu empresa, producto o servicio. Para acelerar el proceso, es necesario que me entregues todo el material del proyecto en este momento. Logo, textos, fotos, mapa del sitio, etc. En 7 días te presentaré un diseño profesional y apropiado para tu sitio web</p>  
          </article>
          <article class="col-12 col-lg-6">
            <%= image_tag("workflow-step-2", class: "", alt: "paso 2") %>
          </article>
        </section>  
        <section class="row align-items-lg-center ">
          <article class="col-12 col-lg-6 text-lg-end">
            <h2>Paso 3</h2>
            <h3>Retroalimentación</h3>
            <p>Después de la primera presentación del diseño, puedes dar tu opinión y compartir comentarios. Tendrás un máximo de 2 rondas de comentarios.<sup class="text-first-color fw-bold">*</sup> De esta manera no nos detenemos en un círculo sin fin de cambios menores. Esto evita perder tiempo y presupuesto. Es importante compartir buenos comentarios*</p>  
          </article>
          <article class="col-12 col-lg-6">
            <%= image_tag("workflow-step-3", class: "", alt: "paso 3") %>
          </article>
        </section>
        <section class="row align-items-lg-center">
          <article class="col-12 col-lg-6 order-lg-1">
            <h2>Paso 4</h2>
            <h3>Acabado de diseño y contenido</h3>
            <p>Después de la última ronda de comentarios, haré los cambios finales y terminaré el diseño completamente. En consulta contigo, también se procesa el contenido final como textos y fotos.</p>  
          </article>
          <article class="col-12 col-lg-6">
            <%= image_tag("workflow-step-4", class: "", alt: "paso 4") %>
          </article>
        </section>
        <section class="row align-items-lg-center">
          <article class="col-12 col-lg-6 text-lg-end">
            <h2>Paso 5</h2>
            <h3>Fin del proyecto</h3>
            <p>Dependiendo de la complejidad del proyecto, se terminará de 2 a 8 semanas. Una vez finalizado recibirás la factura final (a menos que se acuerde de otra manera). Después del pago te enviaré una copia de todos los archivos originales y pondré en línea tu sitio. Después de esta etapa, los cambios menores y errores se procesarán de forma gratuita. Los cambios mayores tendrán costos adicionales.<sup class="text-first-color fw-bold">*</sup></p>  
          </article>
          <article class="col-12 col-lg-6">
            <%= image_tag("workflow-step-5", class: "", alt: "paso 5") %>
          </article>
        </section>
        <article class="col-12">
            <p class="text-center">
              <small><sup class="text-first-color fs-5 fw-bold">*</sup>
               Todo cambio adicional generará cargos extras. Tarifa por hora: <b>150usd + impuestos.</b>
              </small>
            </p>
        </article>
    </div>
</main>