<main class="pt-5 bg-color">
  <section id="ultimos-proyectos" class="min-vh-100">
    <div class="text-center">
      <h1>Sitios web 100% responsivos</h1>
      <p class="fs-5">
        Desarrollo sitios web de una sola página y de varias páginas
      </p>
    </div>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("work-slide-1", class: "d-block w-100", alt: "Trabajo 1") %>  
        </div>
        <div class="carousel-item">
          <%= image_tag("work-slide-2", class: "d-block w-100", alt: "Trabajo 2") %> 
        </div>
        <div class="carousel-item">
          <%= image_tag("work-slide-3", class: "d-block w-100", alt: "Trabajo 3") %> 
        </div>
        <div class="carousel-item">
          <%= image_tag("work-slide-4", class: "d-block w-100", alt: "Trabajo 4") %> 
        </div>
        <div class="carousel-item">
          <%= image_tag("work-slide-5", class: "d-block w-100", alt: "Trabajo 5") %> 
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section id="single-page" class="min-vh-100">
    <h2>Single Page</h2>
  </section>
  <section id="multi-page" class="min-vh-100">
    <h2>Multi Page</h2>
  </section>

</main>
